<div class="board-container">
<!--  <button class="btn btn-success mt-5 mb-3" (click)="newGame()">Start new Game</button>-->

  <div class="btn-group mt-5 mb-3" role="group" aria-label="Button group with nested dropdown">
    <button class="btn btn-success" (click)="newGame()">Start new Game</button>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mode
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#" [class.active]="playerWithIA == true" (click)="playerWithIA = true">Player VS AI</a>
        <a class="dropdown-item" href="#" [class.active]="playerWithIA == false" (click)="playerWithIA = false">Player VS Player</a>
      </div>
    </div>
  </div>

  <div class="alert" [ngClass]="getActiveClass()" *ngIf="!winner && !isDraw">
    <h1>Current Player: {{ player }} </h1>
  </div>

  <div class="alert alert-success" *ngIf="winner">
    <h1>Player <strong>{{ winner }}</strong> won the game!</h1>
  </div>

  <div class="alert alert-warning" *ngIf="isDraw">
    <h1>Match drawn</h1>
  </div>

  <main>
    <ttt-square
      *ngFor="let val of squares; let i = index"
      [value]="val"
      (click)="makeMove(i)">
    </ttt-square>
  </main>
</div>
